{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div id="index">
        <h1>Loading...</h1>
        <h2><time></time></h2>
        <p></p>
    </div>
{% endblock %}
