{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body_main %}

    <div id="index" class="helloWorld">

        <h1>Loading...</h1>
        <h2><time></time></h2>
        <p>IDK</p>

    </div>

{% endblock %}
