/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/css/
/web/js/
/web/assets/
/web/components/
/node_modules/
/bin/*
!/bin/console
/cs_fixer*
/composer*
!/composer.json
/.idea/
/.web-server-pid
/web/server.log
