---

#
# This file is part of the `robfrawley/web-app` project.
#
# (c) Rob Frawley 2nd <rmf@src.run>
#
# For the full copyright and license information, view the LICENSE.md
# file distributed with this vinylSourceStream code.
#

#
# app configuration
#
app:
    metadata:
        title: Rob Frawley 2nd
        description: The thoughts and projects of Rob Frawley 2nd
        keywords:
            - Rob Frawley 2nd
            - robfrawley
            - rmf
            - articles
            - php
            - symfony
            - code

    entities:
        article: ~
        article_comment: ~


#
# sensio framework extra bundle
#

sensio_framework_extra:
    view:
        annotations: true
    request:
        converters: true
        auto_convert: true


#
# fos rest bundle
#

fos_rest:
    param_fetcher_listener: true
    body_listener: true
    format_listener: true
    view:
        view_response_listener: 'force'
        formats:
            rss: false
            xml: false
            json: true
        templating_formats:
            html: true
        force_redirects:
            html: true
        failed_validation: HTTP_BAD_REQUEST
        default_engine: twig


# monolog configuration
#
monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: error
            handler:      nested

        nested:
            type:  stream
            path:  "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug

        console:
            type:  console

#
# doctrine configuration
#

doctrine:
    dbal:
        driver:         "%database_driver%"
        server_version: "%database_version%"
        charset:        "%database_charset%"
        host:           "%env(DB_HOST)%"
        port:           "%env(DB_PORT)%"
        dbname:         "%env(DB_NAME)%"
        user:           "%env(DB_USER)%"
        password:       "%env(DB_PASS)%"

        types:
            bin_uuid: SR\Doctrine\DBAL\Types\StringUuidType
            str_uuid: SR\Doctrine\DBAL\Types\BinaryUuidType

    orm:
        metadata_cache_driver:       apc
        result_cache_driver:         apc
        query_cache_driver:          apc
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy:             doctrine.orm.naming_strategy.underscore

        dql:
            string_functions:
                date_format: Rf\AppBundle\Doctrine\Query\Functions\DateFormatFunction
                unix_time: Rf\AppBundle\Doctrine\Query\Functions\UnitTimeFunction

        mappings:
            AppBundle:
                type: yml
                prefix: Rf\AppBundle\Doctrine\Entity
            GedmoLoggable:
                type: annotation
                prefix: Gedmo\Loggable\Entity
                dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Loggable/Entity"
                alias: GedmoLoggable # (optional) it will default to the name set for the mappingmapping
                is_bundle: false


#
# doctrine extensions
#

stof_doctrine_extensions:
    default_locale: "%locale%"
    orm:
        default:
            timestampable: true
            sluggable: true
            loggable: true


#
# doctrine migrations
#

doctrine_migrations:
    dir_name:   "%kernel.root_dir%/../src/AppBundle/Doctrine/Migrations"
    namespace:  Rf\AppBundle\Migrations
    table_name: migration_versions
    name:       Rob Frawley Application Migrations

#
# mail configuration
#

swiftmailer:
    transport: "%mail_transport%"
    host:      "%env(MAIL_HOST)%"
    port:      "%env(MAIL_PORT)%"
    username:  "%env(MAIL_USER)%"
    password:  "%env(MAIL_PASS)%"
    spool:
        type: "%mail_spool%"

#
# twig configuration
#

twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    paths:
        '%kernel.root_dir%/../src/AppBundle/Resources/views/': AppBundle

#
# white_october_swift_mailer_db configuration
#

white_october_swift_mailer_db :
    entity_class: "\\Rf\\AppBundle\\Doctrine\\Entity\\Email"
    keep_sent_messages: true

#
# pagination configuration
#

knp_paginator :
    default_options:
        page_name: page
    template:
        pagination: "paginator/paginator.html.twig"

#
# easy admin bundle
#

easy_admin: ~

...
