{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <ul class="article-list">
        {% for a in articles %}
            <li><a href="{{ path('app.article_view', {
                slug: a.getSlug(),
                day: a.getCreated().format('d'),
                month: a.getCreated().format('m'),
                year: a.getCreated().format('Y'),
            }) }}">{{ a.getTitle() }}</a> <time>{{ a.getCreated().format('r') }}</time></li>
        {% endfor %}
    </ul>

    <div class="page-navigation">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}
