#
# This file is part of the `robfrawley/web-app` project.
#
# (c) Rob Frawley 2nd <rmf@src.run>
#
# For the full copyright and license information, view the LICENSE.md
# file distributed with this vinylSourceStream code.
#

#
# parameter configuration
#

parameters:

#
# service configuration
#
services:

    _defaults:
        autowire: true
        public: false

    _instanceof:
        Twig_Extension:
            tags: [ 'twig.extension' ]

        Symfony\Component\Console\Command\Command:
            tags: [ 'console.command' ]

        Rf\AppBundle\Component\Sitemap\Route\RouteHandlerInterface:
            tags: [ name: 'app.record_route_generator' ]

    article_param_converter:
        class: Rf\AppBundle\Request\ParamConverter\ArticleParamConverter
        tags:
            - { name: 'request.param_converter', priority: 1 }

    Knp\Component\Pager\Paginator:
        alias: knp_paginator

    ParsedownExtra:
        class: ParsedownExtra

    Rf\AppBundle\:
        resource: '../../*'
        exclude: '../../{Doctrine}'

    Rf\AppBundle\Controller\:
        resource: '../../Controller/*'
        public: true
        tags: ['controller.service_arguments']

    Rf\AppBundle\Component\Environment\EnvironmentInterface:
        alias: Rf\AppBundle\Component\Environment\SymfonyEnvironment

    Rf\AppBundle\Component\Environment\SymfonyEnvironment:
        arguments:
            $environment: "%kernel.environment%"
            $debug: "%kernel.debug%"

    Rf\AppBundle\Doctrine\Repository\ArticleRepository:
        class: Doctrine\ORM\EntityRepository
        factory:
            - '@doctrine.orm.default_entity_manager'
            - getRepository
        arguments:
            - Rf\AppBundle\Doctrine\Entity\Article

    SR\Cocoa\Transformer\Markdown\MarkdownCacheableTransformer:

    SR\Cocoa\Transformer\TransformerInterface:
        alias: SR\Cocoa\Transformer\Markdown\MarkdownCacheableTransformer

    Rf\AppBundle\Command\EnvironmentFileInstallerCommand:

    Symfony\Bundle\TwigBundle\TwigEngine:
        alias: templating.engine.twig

    Symfony\Component\Routing\RouterInterface:
        alias: router

    Doctrine\ORM\EntityManager:
        alias: doctrine.orm.default_entity_manager
