#
# This file is part of the `robfrawley/web-app` project.
#
# (c) Rob Frawley 2nd <rmf@src.run>
#
# For the full copyright and license information, view the LICENSE.md
# file distributed with this vinylSourceStream code.
#

#
# parameter configuration
#

parameters:

#
# service configuration
#
services:

    _defaults:

        autowire: true
        public: false

    _instanceof:

        Twig_Extension:
            tags: [ 'twig.extension' ]

        Symfony\Component\EventDispatcher\EventSubscriberInterface:
            tags: [ kernel.event_subscriber ]

        Rf\AppBundle\Component\Sitemap\Route\RouteHandlerInterface:
            tags: [ app.record_route_generator ]

    article_param_converter:
        class: Rf\AppBundle\Request\ParamConverter\ArticleParamConverter
        tags:
            - { name: 'request.param_converter', priority: 1 }

    Knp\Component\Pager\Paginator:
        alias: knp_paginator

    ParsedownExtra:
        class: ParsedownExtra

    Rf\AppBundle\:
        resource: '../../*'
        exclude: '../../{Doctrine}'

    Rf\AppBundle\Controller\:
        resource: '../../Controller/*'
        public: true
        tags: ['controller.service_arguments']

    Rf\AppBundle\Component\Environment\EnvironmentInterface:
        alias: Rf\AppBundle\Component\Environment\SymfonyEnvironment

    Rf\AppBundle\Component\Environment\SymfonyEnvironment:
        arguments:
            $environment: "%kernel.environment%"
            $debug: "%kernel.debug%"

    Rf\AppBundle\Doctrine\Repository\ArticleRepository:
        class: Doctrine\ORM\EntityRepository
        factory:
            - '@doctrine.orm.default_entity_manager'
            - getRepository
        arguments:
            - Rf\AppBundle\Doctrine\Entity\Article

    Rf\AppBundle\Doctrine\Repository\ArticleCommentRepository:
        class: Doctrine\ORM\EntityRepository
        factory:
            - '@doctrine.orm.default_entity_manager'
            - getRepository
        arguments:
            - Rf\AppBundle\Doctrine\Entity\ArticleComment

    Rf\AppBundle\Doctrine\Repository\SearchStemRepository:
        class: Doctrine\ORM\EntityRepository
        factory:
            - '@doctrine.orm.default_entity_manager'
            - getRepository
        arguments:
            - Rf\AppBundle\Doctrine\Entity\SearchStem

    Rf\AppBundle\Doctrine\Repository\SearchIndexRepository:
        class: Doctrine\ORM\EntityRepository
        factory:
            - '@doctrine.orm.default_entity_manager'
            - getRepository
        arguments:
            - Rf\AppBundle\Doctrine\Entity\SearchIndex

    Rf\AppBundle\Doctrine\Repository\SearchIndexLogRepository:
        class: Doctrine\ORM\EntityRepository
        factory:
            - '@doctrine.orm.default_entity_manager'
            - getRepository
        arguments:
            - Rf\AppBundle\Doctrine\Entity\SearchIndexLog

    SR\Cocoa\Transformer\Markdown\MarkdownCacheableTransformer:

    SR\Cocoa\Transformer\TransformerInterface:
        alias: SR\Cocoa\Transformer\Markdown\MarkdownCacheableTransformer

    Rf\AppBundle\Command\EnvironmentFilesCommand:
        tags:
            - { name: console.command, command: rf:env:files }

    Rf\AppBundle\Command\SearchIndexCommand:
        tags:
            - { name: console.command, command: rf:search:idx }

    Rf\AppBundle\Component\Search\Indexing\ArticleProvider:
        tags: [ search_index.entity_provider ]

    Rf\AppBundle\Component\Search\Indexing\ArticleCommentProvider:
        tags: [ search_index.entity_provider ]

    Symfony\Bundle\TwigBundle\TwigEngine:
        alias: templating.engine.twig

    Symfony\Component\Routing\RouterInterface:
        alias: router

    Doctrine\ORM\EntityManager:
        alias: doctrine.orm.default_entity_manager

    SR\Cocoa\Word\Stem\Stemmer:

    SR\Cocoa\Word\Stem\Driver\PorterDriver:

    SR\Cocoa\Word\Stop\Stopwords:

    SR\Cocoa\Word\Stop\Driver\MySqlInnoDbDriver:

    Rf\AppBundle\Subscriber\DoctrineLoggableSubscriber:
        public: true
