
/*
 * This file is part of the `src-run/rf-app` project.
 *
 * (c) Rob Frawley 2nd <rmf@src.run>
 *
 * For the full copyright and license information, please view the LICENSE.md
 * file that was distributed with this source code.
 */

.helloWorld {

    background-color:#eee;

    h1 {
        color: #888;
        font-family: $font-family-serif;
    }

    h2 {
        color: #aa3333;
    }

    p {
        font-style: italic;
        font-family: $font-family-sans-serif-condensed;
    }
}
