
/*
 * This file is part of the `src-run/rf-app` project.
 *
 * (c) Rob Frawley 2nd <rmf@src.run>
 *
 * For the full copyright and license information, please view the LICENSE.md
 * file that was distributed with this source code.
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top    : 6.0rem;
    padding-bottom : 4.5rem;
}

.navbar.navbar-inverse.nav-state {
    will-change : auto;
    transition  : background-color 1s;

    &.nav-state-transparent {
        background-color : rgba(#292b2c, 0.15) !important;
    }

    &.nav-state-opaque {
        background-color : rgba(#292b2c, 0.95) !important;
    }
}

.banner {
    width : 100%;

    &.banner-first {
        margin-top    : -6.0rem;
        margin-bottom : 3.0rem;
    }

    &.banner-programming-image {
        background-color    : #26a9e1;
        background-image    : url(/bundles/app/images/banner-main.png);
        background-size     : cover;
        background-position : center;
        height              : 300px;

        @media (min-width: map-get($grid-breakpoints, xl)) {
            height : 600px;
        }
        @media (min-width: map-get($grid-breakpoints, lg)) and (max-width: map-get($grid-breakpoints, xl) - 1) {
            height : 500px;
        }
        @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg) - 1) {
            height : 400px;
        }
    }
}

div#main-content {
}

footer#main-footer {
    position         : absolute;
    bottom           : 0;
    width            : 100%;
    height           : 60px;
    line-height      : 60px;
    background-color : #f5f5f5;
}
