.helloWorld {

    background-color:#eee;

    h1 {
        color: #000;
        background-color: #aaa;
        font-weight: 200;
    }

    h2 {
        color: #aa3333;
    }

    p {
        font-weight: bold;
        font-size: 36px;
    }
}
